@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Redressed&display=swap');
body{
    background-image: url(https://infatuation.s3.amazonaws.com/media/images/guides/west-loop-restaurants/interior%20bar%205%20%282%29.jpg);
    color: rgb(255, 0, 76); 
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 250px;
    background-color: #cccccc;
    background-position:center;
    background-attachment: fixed;
}
p{
    font-family: "Caveat";
    font-size: 35px;
    background-color:black ;
}

h1
{
    font-family: "Redressed";
    font-size:80px;
    background-color:black ;
}  


