@import url('https://fonts.googleapis.com/css?family=Pirata One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Redressed&display=swap');
body{
    background-color: black;
    font-family:"Roboto" ;
    font-weight: 400;
    font-size: 20px;
    padding: 80px;
    color:rgb(255, 255, 255);
    margin-left: 100px;
    margin-right: 0px;
}
p{
    font-family:"Caveat" ;
    font-size:30px ;
    color: rgb(255, 0, 76);
}

h1
{
    background-color: black;
    font-family:"Redressed" ;
    font-weight: 400;
    font-size: 70px;
    padding: 80px;
    color:rgb(255, 0, 76);
    text-align: center;
}  
body{
    left: 0;
    line-height: 50px;
    margin-top: -500px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 50%;
}
