@import url('https://fonts.googleapis.com/css?family=Pirata One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body{
    background-color: black;
    font-family:"Roboto" ;
    font-weight: 400;
    font-size: 20px;
    padding: 80px;
    color:rgb(255, 255, 255);
    margin-left: 100px;
    margin-right: 0px;
}
p{
    font-family:"Roboto" ;
    font-size:25px ;
    color: rgb(255, 0, 76);
}

h1
{
    background-color: black;
    font-family:"Roboto" ;
    font-weight: 400;
    font-size: 70px;
    padding: 80px;
    color:rgb(255, 0, 76);
    margin-left: 100px;
    margin-right: 0px;
}  